@{
    ViewBag.Title = "Contact Us";
}
@{ 
    ViewBag.Message = "Leave us some feedback";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Niko Arellano:</strong>   <a href="mailto:nikojohnarellano@gmail.com">nikojohnarellano@gmail.com</a><br />
    <strong>Matthew Li:</strong> <a href="mailto:li.matthew.m@gmail.com">li.matthew.m@gmail.com</a><br />
    <strong>Clinton Bock:</strong> <a href="mailto:cbock3@my.bcit.ca">cbock3@my.bcit.ca</a>
</address>