@{
    ViewBag.Title = "Zenith Society Homepage";
}

<div class="jumbotron">
    <h1>Zenith Society</h1>
    <p class="lead">The Zenith Society is a family oriented non-for-profit organization that holdsevents during the week.</p>
</div>